<head> 
	<script src="http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"></script>
	<body>
		<div class="container">
			<div class="navbar navbar-default navbar-fixed-top">
			    <div class="navbar-header pull-left">
			      <a class="navbar-brand" href="#"><h4>W2E</h4></a>
			    </div>
			    <div class="navbar-form pull-left">
			      <input type="text" class="form-control col-lg-8 " placeholder="Search" id="search">
			    </div>
			    <!--<div class="navbar-form pull-right">
			    	<%#= link_to 'Add Restaurant', new_restaurant_path, class: 'btn btn-default' %>
			    </div>
			    -->
			</div>	
			<div class="col-md-8">
				<%= render file: 'restaurants/index' %>
				<%= yield :javascripts %>
			</div>
		</div>
	</body>
</head>
