<p class="alert alert-success alert-dismissable">
	<%= notice %> 
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</p>
<h1>Welcome to Where To Eat</h1>
<%= link_to "Add Restaurant", new_restaurant_path %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>