<div class="container">
	
	
	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header pull-left">
	      <a class="navbar-brand" href="#">W2E</a>
	    </div>
	    <div class="navbar-form pull-left">
	      <input type="text" class="form-control col-lg-8" placeholder="Search" id="search">
	    </div>
	    <div class="navbar-form pull-right" id="icon_cont">
	        <a href="#" id="map_icon" ></a>
	    </div> 
	    <a href="#">
	        <div class="glyphicon glyphicon-zoom-in" id="filter" data-toggle="modal" data-target="#FilterWindow"></div>
	    </a>
		</div>
	<div class="col-md-12">
		<%= render file: 'restaurants/index' %>
	</div
</div>