<table class="table table-striped">
  <tbody>
    <% @restaurant_reviews.each do |restaurant_review| %>
      <tr>
        <td id="tablestriping">
          <% unless restaurant_review.user.avatar_url.nil? %>
            <%= image_tag restaurant_review.user.avatar_url %>
          <% end %>
        </td>
        <td id="tablestriping"><%= restaurant_review.user.name %> says...<br><%= restaurant_review.review %></td>
        <td id="tablestriping">
          <%= restaurant_review.rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>