<table class="table table-striped table-hover">
  <tbody>
    <% @restaurant_reviews.each do |restaurant_review| %>
      <tr>
        <td id="tablestriping-avatar">
          <% unless restaurant_review.user.avatar_url.nil? %>
            <%= image_tag restaurant_review.user.avatar_url %>
          <% end %>
        </td>
        <td id="tablestriping"><p class="text-muted"><%= restaurant_review.user.name %>:</p><b><p><%= restaurant_review.review %></b></p></td>
        <td id="tablestriping">
          <% restaurant_review.rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>