!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title W2E
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  %body 
    %ul.nav.nav-tabs{style: "padding-top: 50px;"}
      %li.active
        %a{"data-toggle" => "tab", href: "#home"} List
      %li
        %a{"data-toggle" => "tab", href: "#profile"} Map
    #myTabContent.tab-content
      #home.tab-pane.fade.active.in
        %ul.nav.nav-pills
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Filter
              %span.caret
            %ul.dropdown-menu.centerDropdown
              %li
                %a{href: "#"} Price
              %li
                %a{href: "#"} Distance
              %li
                %a{href: "#"} Waiting time
              %li
                %a{href: "#"} Rating
        #viewport
          %ul.list-group
            - @restaurants.each do |restaurant|
              %li.list-group-item

                =image_tag  "placeholder.png", :class => "thumbnail pull-left"
                %span.glyphicon.glyphicon-time.pull-right
                .title
                  %h4= restaurant.name
                  %p= restaurant.address
                  %span.badge= restaurant.cuisine
                  %span
                    %h5= '$' * restaurant.price
                  %br
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-empty
                  %span.glyphicon.glyphicon-star.glyphicon-star-empty

      #profile.tab-pane.fade
        %ul.nav.nav-pills
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Filter
              %span.caret
            %ul.dropdown-menu.centerDropdown
              %li
                %a{href: "#"} Price
              %li
                %a{href: "#"} Distance
              %li
                %a{href: "#"} Waiting time
              %li
                %a{href: "#"} Rating
        %p MAP HERE


    

    //#map-canvas.google-map-canvas -
    #FilterWindow.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#modalLabel.modal-title Filter
          .modal-body
            %h5.pull-left Price:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$$
            %h5.pull-left Payment Method:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Credit
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Cash
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Dinex
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Block
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              %button.btn.btn-primary{type: "button"} Apply
          //%script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
          //%script{src: "/assets/javascripts/bootstrap.min.js"}
          //%script{src: "/assets/javascripts/bootswatch.js"}
         
          %script{src: "https://maps.googleapis.com/maps/api/js?sensor=false"}
          //%script{src: "/assets/javascripts/wte.js"}