!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title W2E
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  %body
    %div
      %h3
        You are at
        %span#location
    %input#locationNow{type: "button", value: "Get location now!"}/
    %input#startWatchLocation{type: "button", value: "Start watching location"}/
    %input#endWatchLocation{type: "button", value: "Stop watching location"}/
    #user{"data-id" => current_user.id}
    #updateDiv
    %ul.nav.nav-tabs{style: "padding-top: 50px;"}
      %li.active
        %a{"data-toggle" => "tab", href: "#list", "data-number" => "1"} List
      %li
        %a{"data-toggle" => "tab", href: "#map", "data-number" => "2"} Map
      %li
        %a{"data-toggle" => "tab", href: "#feed", "data-number" => "3"} Feed
    #myTabContent.tab-content
      #list.tab-pane.fade.active.in
        =render 'home_filters'
        #viewport
          =render 'home_restaurants'

      #map.tab-pane.fade
        =render 'home_filters'
      #feed.tap-pane.fade
        #viewport
          =render 'home_feed'
    %div
      #map-canvas

    //#map-canvas.google-map-canvas -
    #FilterWindow.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#modalLabel.modal-title Filter
          .modal-body
            %h5.pull-left Price:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$$
            %h5.pull-left Payment Method:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Credit
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Cash
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Dinex
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Block
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              %button.btn.btn-primary{type: "button"} Apply
      %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

:javascript

var id;
var nop = function() { };

  if (!navigator.geolocation) {
      navigator.geolocation = {};
  }
  if (!navigator.geolocation.getCurrentPosition) {
      navigator.geolocation.getCurrentPosition = nop;
  }

  document.getElementById('locationNow').onclick = function() {
    navigator.geolocation.getCurrentPosition(function(position) {
      document.getElementById('location').innerHTML = position.coords.latitude + ", " + position.coords.longitude;
      alert(position);
      id = $('#user').data('id');
      $.ajax({
        type: "PATCH",
        url: "users/add_coordinates/" + id,
        data: {user: {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude
          }
        },
        success: function(data) {
          return console.log(data);
        },
        error: function(data) {
          return console.log(data);
        }
      });

    });
  }

  function successCallback(position) {
    document.getElementById('location').innerHTML = position.coords.latitude + ", " + position.coords.longitude + ": last updated at " + position.timestamp;
    var updateDiv = document.getElementById('updateDiv')
    updateDiv.style.visibility = 'visible';
    setTimeout(function() {
      updateDiv.style.visibility = 'hidden';
    }, 200);
  }

  function errCallback(err) {
      var message = err.message;
      var code = err.code;
      document.getElementById('location').innerHTML = "Erorr: " + code + ", " + err.message;
      //code = 0 => UNKNOWN_ERROR, 1 => PERMISSION_DENIED, 2 => POSITION_UNAVAILABLE, 3 => TIMEOUT
  }

  // optional for geolocation.watchPosition
  var options = {
      enableHighAccuracy: true,
      maximumAge: 30000,
      timeout: 27000
  };

  var watchId;
  document.getElementById('startWatchLocation').onclick = function() {
    watchId = navigator.geolocation.watchPosition(successCallback, errCallback, options);
  };
  document.getElementById('endWatchLocation').onclick = function() {
    navigator.geolocation.clearWatch(watchId);
  };
