!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title W2E
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  %body 
    %ul.nav.nav-tabs{style: "padding-top: 50px;"}
      %li.active
        %a{"data-toggle" => "tab", href: "#home"} List
      %li
        %a{"data-toggle" => "tab", href: "#profile"} Map
    #myTabContent.tab-content
      #home.tab-pane.fade.active.in
        %ul.nav.nav-pills
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Filter
              %span.caret
            %ul.dropdown-menu.centerMe
              %li
                %a.filter_button{filter_type: "price"} Price
              %li
                %a.filter_button{filter_type: "distance"} Distance
              %li
                %a.filter_button{filter_type: "time"} Waiting time
              %li
                %a.filter_button{filter_type: "rating"} Rating
        #viewport
          %ul.list-group{id: 'restaurants'}
            - @restaurants.each do |restaurant|
              %a.list-group-item{ :href => restaurant_url(restaurant.id)} 
                %span
                  =image_tag  "placeholder.png", :class => "thumbnail pull-left"
                .title
                  %h4= restaurant.name
                  - if restaurant.accepts_dinex
                    %span.badge.small-badge.pull-right.payment  Dinex
                  - if restaurant.accepts_cash
                    %span.badge.small-badge.pull-right.payment Cash
                  - if restaurant.accepts_credit
                    %span.badge.small-badge.pull-right.payment  Credit
                  - if restaurant.accepts_plaid_cash
                    %span.badge.small-badge.pull-right.payment  Plaid Cash
                  %p= restaurant.address
                  %span.badge= restaurant.cuisine
                  %span
                    %h5= '$' * restaurant.price
                  %br
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-full
                  %span.glyphicon.glyphicon-star.glyphicon-star-empty
                  %span.glyphicon.glyphicon-star.glyphicon-star-empty
                  %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time 10min

      #profile.tab-pane.fade
        %ul.nav.nav-pills
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Filter
              %span.caret
            %ul.dropdown-menu.centerMe
              %li
                %a{href: "#", id: "price-filter"} Price
              %li
                %a{href: "#", id: "distance-filter"} Distance
              %li
                %a#time-filter{href: "#", id: "time-filter"} Waiting time
              %li
                %a#rating-filter{href: "#", id: "rating-filter"} Rating
        %div
          #map-canvas


    

    //#map-canvas.google-map-canvas -
    #FilterWindow.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#modalLabel.modal-title Filter
          .modal-body
            %h5.pull-left Price:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$
                .btn-group
                  %button.btn.btn-default.btn-price{type: "button"} $$$
            %h5.pull-left Payment Method:
            .text-center
              .btn-group.btn-group-justified
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Credit
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Cash
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Dinex
                .btn-group
                  %button.btn.btn-default.btn-pay{type: "button"} Block
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              %button.btn.btn-primary{type: "button"} Apply
      %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}